
<form method="post" asp-action="AddDosya" asp-controller="Home" enctype="multipart/form-data">
    <input type="file" class="mb-3 form-control" name="Getfile" accept=".pdf,.jpg" required />
    @*Burada accept'la hangi türden dosyaları alacağımızı belirtiyoruz*@
    <input type="submit" class="btn btn-primary" value="Ekle" />
</form>
